.LoadingPage__Container{
  position: absolute;
  top: 0;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  background-color: $primary-color;
  color: $button-color;
  height: 100vh;
  width: 100%;
}

.LoadingPage__Container>h1 {
  padding-top: 10%;
  width: 100%;
  text-align: center;
}

.LoadingPage__Container>h2 {
  width: 100%;
  margin: 0;
  text-align: center;
}