.ResultsPage__Background {
  text-align: center;
  min-height: 100vh;
  overflow:hidden;
}

.ResultsPage__UpperContainer {
  width: 100%;
  display: inline-block;
  background-color: $primary-color;
  position: relative;
}

.ResultsPage__UpperLeftContainer {
  width: 40%;
  display: inline-block;
}

.ResultsPage__UpperLeftContainer>img {
  height: 80%;
  position: absolute;
  bottom: 0;
  left: -5%;
}

.ResultsPage__UpperRightContainer {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 60%;
}

.ResultsPage__CatchphraseContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.ResultsPage__Catchphrase {
  width: 80%;
  padding: $margin-xxs $margin-xs;
  background-color: $secondary-color;
  color: $button-color;
  font-family: $font-family-bold;  
}

.ResultsPage__NeedsContainer {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}