.ResultsPage__Background {
  background-color: $background-dark;
  text-align: center;
  min-height: 100vh;
}

.ResultsPage__Background>h2 {
  padding: $margin-s 0 $margin-xxs 0;
}

.ResultsPage__NeedsContainer {
  margin: 0 $margin-m;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 70vh;
}

.ResultsPage__CTA>div {
  margin: $margin-xxs 0 0 0;
  display: inline-block;
}