.progress-bar{
  height: $font-l;
  width: 60%;
  margin: 0 auto;
  border-radius: 0.6rem;
  border: 1px solid $button-color;
}

.filler{
  background-color: $button-color;
  height: 100%;
  border-radius: 0.4rem;
  max-width: 100%;
}