.NeedCard__Card{
  background-color: $background-light;
  width: 25rem;
  height: 11rem;
  border-radius: 0.4rem;
  border: 1px solid $neutral-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: $margin-xs $margin-s;
  box-shadow: $primary-color-boxhover;
  -webkit-box-shadow: $primary-color-boxhover;
  &:hover{
    background-color: lighten($primary-color, 35%);
  }
}

.NeedCard__Title {
  width: 100%;
  font-size: $font-xs;
  margin: $margin-xxs $margin-xs;
}

.NeedCard__Icon{
  width: 4em;
  margin: 0 0 $margin-xs 0;
}

.NeedCard__CTA{
  width:100%;
  text-align: center;
  color: $primary-color;
  font-weight: bold;
}