.PlayCardVideo__Container {
  margin: $margin-s 0 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
}


.PlayCardVideo__Button {
  background-color: transparent;
  border: 2px $button-color solid;
  color: $button-color;
  font-family: $font-family-bold;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    background-color: rgba(255, 255, 255, 0.2);
  }
}