.ZoomNeedCard__Container{
  position: relative;
}

.ZoomNeedCard__LeftContainer{
  background-color: $secondary-color;
  color: $button-color;
  display:inline-block;
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ZoomNeedCard__RightContainer{
  color: $text-color;
  display:inline-block;
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.ZoomNeedCard__Title {
  text-align: center;
  font-size: $font-s;
  margin: $margin-xl auto 0  auto;
  font-family: $font-family-bold;
  display: block;
  width: 80%;
}

.ZoomNeedCard__Icon{
  width: 6em;
  margin: $margin-l auto $margin-xs auto;
  display: block;
}

.ZoomNeedCard__RightContainerContent{
  min-height: 100%;
  margin: 0 0;
  position: absolute;
  top: 0;
  & li {
    margin: 0.3rem 0;
  }
}

.ZoomNeedCard__BoldSentence {
  font-family: $font-family-bold;
  font-size: $font-s;
  text-align: center;
  margin: $margin-m $margin-xxl;
}

.ZoomNeedCard__Description {
  text-align: justify;
  font-size: $font-xs;
  margin: $margin-xs $margin-l;
}

.ZoomNeedCard__Description a {
  color: $primary-color;
  text-decoration: underline;
  &:hover{
    color: lighten($primary-color, 10%);
  }
}

.ZoomNeedCard_TestimonyVideo {
  position: absolute;
  top: 2%;
  left: 2%;
}

.ZoomNeedCard_TestimonyVideo .secondaryButton {
  min-width: 0;
  margin: 0;
  padding: 1rem 2rem;
  background-color: $secondary-color;
  color: $button-color;
  border: 2px $button-color solid;
  &:hover{
    background-color: lighten($secondary-color, 10%);
  }
}

.ZoomNeedCard_TestimonyVideo .secondaryButton__Container {
  position: absolute;
  bottom: 12%;
  margin: auto;
  width: 6%;
  margin-left: 44%;
}

.ZoomNeedCard__CTA>div {
  margin: 0 0 0 0;
  display: inline-block;
}
